#titulo {
    margin-top: 10px;
    color: #075AA9;
    text-align: center;
}

.trabalhe-conosco {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: fit-content;
    align-items: center;
    margin-top: 5vh;
}

button{
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 15px;
    margin: 0 15px ;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-button{
    width: fit-content;
    margin: 15px auto;
}

form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    margin: 0 auto;
    
}

input{
    margin: 5px 0;
    height: 1.5rem;
    border: none;
    border-bottom: 1px solid black;
}

.radio{
    display: flex;
    flex-direction: column;
}