header{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}


.faixa-topo-azul{
    height: 5vh;
    width: 100%;
    background-color: #075AA9;

}

.container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #FFF;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.logo{
    display: flex;
    flex-direction: row;
}




.buttonMenuHamburguer{
    padding: 10px;
    margin-left: 8px;
    height: auto;
    width: auto;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.buttonMenuHamburguer:hover{
    background-color: rgba(0, 0, 0, 0.2);
}